body {
  background-color: #dddddd;
  font-family: "Barlow";
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.0025em;
  color: #2b2f39;
}

ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 360px;
  padding: 0 10px;
  margin: 0 auto;
}
