.data-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.data-item {
  width: 100%;
  display: flex;
  padding: 8px;
  gap: 16px;
  background-color: #fff;
  border-radius: 6px;
}

.img-wrapper {
  position: relative;
}

.img {
  border-radius: 6px;
}

.img-wrapper-duration-text {
  right: 4px;
  bottom: 4px;
  position: absolute;
  display: inline-block;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.0025em;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.96);
  border-radius: 2px;
  padding: 4px;
}

.content-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0025em;
  color: #2b2f39;
  margin-bottom: 8px;
}

.content-title {
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.0025em;
  color: #9499a6;
  margin-bottom: 14px;
}

.bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-wrapper-link {
  display: flex;
  gap: 4px;
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.0025em;
  color: #5d6067;
}

.icon {
  &::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-image: url("/src/assets/yt.svg");
  }
}

.bottom-wrapper-text {
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.0025em;
  color: #5d6067;
}
