.pagination-wrapper {
  padding: 16px 28px;
  background: #ffffff;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
}
.pagination-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0025em;
  color: #2b2f39;
}

.prev-page-btn {
  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-image: url("/src/assets/arrow.svg");
  }
}

.next-page-btn {
  &::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-image: url("/src/assets/arrow.svg");
    transform: rotate(180deg);
  }
}

.page {
}
