.searchBar-section {
  margin-top: 16px;
}

.searchBar-wrapper {
  display: flex;
  justify-content: center;
}
.searchBar-btn {
  display: flex;
  justify-content: center;
  padding: 10px 40px;
  //   max-width: 246px;
  //   width: 100%;

  background-color: #ffffff;
  border-radius: 33px;
  border: none;
}

.searchBar-text-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 246px;
  color: #2a8cff;

  &::before {
    content: '';
    margin-right: 8px;
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('/src/assets/search-icon.svg');
    background-repeat: no-repeat;
  }
}

.searchBar-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0025em;
  &-accent {
    font-weight: 700;
  }
}
