<section class="data-list-section">
  <div class="container data-list-container">
    <ul class="data-list">
      <li class="data-item">
        <div class="item-wrapper">
          <div class="img-wrapper">
            <img src="#" alt="" width="132" height="74" />
            <p class="img-wrapper-duration"></p>
          </div>
          <div class="content-wrapper">
            <p class="content-text"></p>
            <h2 class="content-title"></h2>
            <div class="bottom-wrapper">
              <a class="bottom-wrapper-link" href="#"></a>
              <p class="bottom-wrapper-text"></p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
