<section class="searchBar-section">
  <div class="container searchBar-container" id="searchBar">
    <div
      class="gcse-searchbox-only"
      style="border: none; border-radius: 33"
    ></div>
    <!-- <div class="searchBar-wrapper">
      <button type="click" class="searchBar-btn gcse-search">
        <p class="searchBar-text-wrapper">
          <span class="searchBar-text"
            >Search<span class="searchBar-text-accent"> ${query} </span> on
            Google</span
          >
        </p>
      </button>
    </div>
    <div></div> -->
  </div>
</section>
